{% extends 'Admin/Adminindexhome.html' %}
{% block body %}
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
  .password-toggle {
    position: relative;
  }
  .password-toggle .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
</style>

<script>
  function togglePasswordVisibility(inputId, iconId) {
    var input = document.getElementById(inputId);
    var icon = document.getElementById(iconId);

    if (input.type === "password") {
      input.type = "text";
      icon.classList.add("fa-eye");
      icon.classList.remove("fa-eye-slash");
    } else {
      input.type = "password";
      icon.classList.add("fa-eye-slash");
      icon.classList.remove("fa-eye");
    }
  }
  function validateForm() {
    var newPassword = document.getElementById('textfield2').value;
    var confirmPassword = document.getElementById('textfield3').value;

    // Password pattern - at least 8 characters, with at least one uppercase letter, one lowercase letter, one number, and one special character
    var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+}{'\:;?\/>.<,])[A-Za-z\d!@#$%^&*()_+}{'\:;?\/>.<,]{8,}$/;

    if (!passwordPattern.test(newPassword)) {
      alert("Password must contain at least 8 characters, including at least one uppercase letter, one lowercase letter, one number, and one special character.");
      return false;
    }

    if (newPassword !== confirmPassword) {
      alert("Passwords do not match.");
      return false;
    }

    return true;
  }
</script>
<form id="form1" name="form1" method="post" action="/myapp/change_pswd_post/" onsubmit="return validateForm()">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <th>Old Password</th>
      <td class="password-toggle">
         <input type="text" name="textfield" class="form-control" id="textfield" required  autocomplete="off"/>
      </td>
    </tr>
    <tr>
      <th>New Password</th>
      <td class="password-toggle">
        <input type="password" name="textfield2" class="form-control" id="textfield2" required autocomplete="off" pattern="(?=.*[A-Z])(?=.*[!@#$%^&*()_+}{'\:;?/>.<,])(?=.*[0-9]).{8,})"/>
        <i class="toggle-password fas fa-eye-slash" id="togglePassword2" onclick="togglePasswordVisibility('textfield2', 'togglePassword2')"  ></i>
      </td>
    </tr>
    <tr>
      <th>Confirm Password</th>
      <td class="password-toggle">
        <input type="password" name="textfield3" class="form-control" id="textfield3" required autocomplete="off" pattern="(?=.*[A-Z])(?=.*[!@#$%^&*()_+}{'\:;?/>.<,])(?=.*[0-9]).{8,})"/>
        <i class="toggle-password fas fa-eye" id="togglePassword3" onclick="togglePasswordVisibility('textfield3', 'togglePassword3')" ></i>
      </td>
    </tr>
    <tr align="center">
      <td colspan="2">
      <input type="submit" name="button" id="button" class="btn btn-info"  value="Submit" /></td>

    </tr>
  </table>
</form>
{#<body>#}
{#<form id="form1" name="form1" method="post" action="/Myapp/Change_password_post/">#}
{#    {% csrf_token %}#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td>Current password</td>#}
{#      <td><label for="textfield"></label>#}
{#      <input type="text" name="textfield" id="textfield" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>New password</td>#}
{#      <td><label for="textfield2"></label>#}
{#      <input type="text" name="textfield2" id="textfield2" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>Confirm password</td>#}
{#      <td><label for="textfield3"></label>#}
{#      <input type="text" name="textfield3" id="textfield3" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>&nbsp;</td>#}
{#      <td><input type="submit" name="button" id="button" value="Reset" /></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{% endblock %}